# Laravel specific
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vscode

# OS or Editor specific
.DS_Store
Thumbs.db
.idea
*.sublime-project
*.sublime-workspace
